<!-- NOTE: To create a new Thymeleaf template:
        1. Create an html file in appropriate directory under "templates\"
        2. Add the ThymeLeaf namespace to the html file <html> tag (xmlns:th="http://www.thymeleaf.org")
        3. Add desired html content
        4. Add thymeleaf forEach iterator to display data using th:each="<iteratorName> : ${<iterableFromController>}
        5. Add text via thymeleaf using "th:text="

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework App</title>
</head>
<body>
<h1>Spring Framework App</h1>
<h2>Author List</h2>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}"></td>
        <td th:text="${author.firstName}"></td>
        <td th:text="${author.lastName}"></td>
    </tr>

</table>

</body>
</html>